.createpassword-container {
  width: 100%;
  height: 80vh;
  display: flex;
  background: url("/assets/bg-stars.jpg");
  background-size: cover;
  background-position: center;
}

/* LEFT SIDE */
.left-panel {
  flex: 1;
  text-align: center;
  padding: 5rem 2rem;
}

.logo {
  width: 150px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 0px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 20px rgba(192, 72, 255, 0.9));
  transform: scale(1.05);
}

.cp-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
  

/* RIGHT SIDE */
.right-panel {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cp-form {
  width: 380px;
  padding: 35px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #00c6ff, #9c0fd3);
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp-form input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.cp-btn {
  width: 65%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: #8200c9;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.cp-btn:hover {
  opacity: 0.9;
}

.login-link {
  margin-top: 20px;
  color: #00d4ff;
  text-decoration: none;
  font-size: 15px;
}


